<div class="container">
  <h2>News</h2>

  <form class="example-form">
    <input
      type="text"
      class="form-control"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </form>

  <div class="card card-c" *ngFor="let p of post" (click)="openPost(p.id)">
    <div class="card-body">
      <h5 class="card-title">{{ p.title }}</h5>
      <p class="card-text fw-light">
        {{ p.body }}
      </p>
    </div>
  </div>
</div>

<div style="margin-bottom: 50px"></div>
