<div class="container">
  <h2>News</h2>

<form action="">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
          <input type="text" class="form-control" placeholder="Search by user...">
        </div>

        <div class="col-auto">
            <button class="btn btn-secondary">
              <i class="bi bi-search"></i>
            </button>
        </div>
      </div>
</form>

  <div class="card card-c" *ngFor="let p of post" (click)="openPost(p.id)">
    <div class="card-body">
      <h5 class="card-title">{{ p.title }}</h5>
      <p class="card-text fw-light">
        {{ p.body }}
      </p>
    </div>
  </div>
</div>

<div style="margin-bottom: 50px;"></div>
