<div class="container">
  <div class="post-container">
    <h1 class="title-post fw-bolder">{{ post.title }}</h1>

    <p class="author">By user: {{ post.id }}</p>

    <!-- Post body -->
    <p>{{ post.body }}</p>
  </div>

  <h3 class="comments-title fw-light">Comments</h3>

  <div class="comment-container" *ngFor="let c of comment">
    <h5 class="comment-title">{{ c.name }}</h5>
    <p class="body-comment">{{ c.body }}</p>
    <hr />
  </div>

  <div style="float: right; margin-bottom: 50px">
    <button class="btn btn-secondary" (click)="dashboard()">Dashboard</button>
  </div>
</div>
