.author{
    color: blue;
}

.title-post{
    margin-left: 0px;
    letter-spacing: -1px;
}

.comments-title{
    color: rgb(78, 78, 78);
}

.post-container{
    margin-bottom: 50px;
}

.comment-container{
    max-width: 65%;
}

.comment-title{
    color: rgb(116, 116, 116);
}

.body-comment{
    font-size: small;
    color: gray;
}